# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Ignore virtual environments
venv/
.env/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system files
.DS_Store
Thumbs.db

# Ignore to do file
issues.txt

# Ignore the tableau file
restaurant_tableau_v1.twb
.~restaurant_tableau_v1__10352.twbr

# Ignore work books
transformer_workbook.ipynb
